<!-- <div class="container-fluid px-0">
  <div class="row bg-dark h-100">
    <div class="col-12 px-0">
      <app-carousel [items]="carouselData"></app-carousel>
    </div>
  </div>
</div> -->
<div class="cards">
  <div>
    <img src="../../../assets/images_principal/logo.png" alt="">
    <h2>Caja de Compensación Familiar de Nariño</h2>
   </div>

</div>




<!-- <nav id="site-nav">
  <ul>
    <li>
      <a href="#homepage"><i class="fa fa-home fa-fw fa-3x" style="color: #1b4388;"></i>Home</a>
    </li>
    <li>
      <a href="#room"><i class="fa fa-table fa-fw fa-3x" style="color: #1b4388;"></i>Rooms</a>
    </li>
    <li>
      <a href="#map"><i class="fa fa-map-marker fa-fw fa-3x" style="color: #1b4388;"></i>Map</a>
    </li>
    <li>
      <a href="#contact"><i class="fa fa-envelope fa-fw fa-3x" style="color: #1b4388;"></i>Contact</a>
    </li>
  </ul>
</nav> -->