.profile-user-img {
    width: 220%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.avatar-upload {
    position: relative;
    max-width: 180px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;

    .avatar-edit {
        position: absolute;
        right: 40px;
        z-index: 1;
        top: 90px;

        input {
            display: none;

            +label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid #d2d6de;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;

                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                &:after {
                    content: "\f030";
                    font-family: 'FontAwesome';
                    color: #337AB7;
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                    line-height: 34px;
                    margin: auto;
                }
            }
        }
    }
}










body {
    background-color: #FEDF9E;
    color: #000000;
    font-family: 'Avenir Next', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}

img {
    height: auto;
    max-width: 100%;
}

.button {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 12px 32px 14px 32px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
}

.site-header {
    background-color: #FEDF9E;
    margin: 5%;
}

nav a {
    color: black;
    display: inline-block;
    margin: 0 4px;
    text-decoration: none;
}

nav a:first-child {
    margin: 0 4px 0 0;
}

main {
    margin: 0 5%;
}

.home-page {
    display: grid;
    font-size: 24px;
    grid-template-columns: 50% 50%;
    line-height: 1.4;
    margin: 2em auto 0 auto;
    max-width: 45em;
    padding: 0;
}

.home-page h1 {
    font-size: 1em;
    margin: 4em 0 0 0;
}

.home-page .button {
    margin: 1em 0;
}

footer {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.6);
    padding: 5%;
}

@media screen and (max-width: 45em) {
    .home-page {
        display: block;
    }
}













@mixin webkits($atributte, $value) {
    $values: ('-webkit-', '-moz-', '-o-', '');

    @each $item in $values {
        #{$item}#{$atributte}: $value;
    }
}

@mixin rigthR() {
    0% {
        opacity: 1;
        @include webkits(transform, translateX(-50%) scale(1));
        z-index: 90;
    }

    30% {
        opacity: 1;
        @include webkits(transform, translateX(10%) scale(0.94));
        z-index: 50;
    }

    100% {
        opacity: .4;
        @include webkits(transform, translateX(0%) scale(0.9));
        z-index: 0;
    }
}

@mixin rigthL() {
    0% {
        left: 50%;
        opacity: .1;
        @include webkits(transform, translateX(0%) scale(0.9));
        z-index: 0;
    }

    100% {
        left: 50%;
        opacity: .4;
        z-index: 0;
        @include webkits(transform, translateX(-100%) scale(0.9));
    }
}

@mixin rightC() {
    0% {
        left: 50%;
        opacity: .4;
        z-index: 0;
        @include webkits(transform, translateX(-100%) scale(0.9));
    }

    20% {
        left: 50%;
        opacity: 1;
        z-index: 0;
        @include webkits(transform, translateX(-110%) scale(0.94));
        z-index: 50;
    }

    100% {
        left: 50%;
        @include webkits(transform, translateX(-50%));
        z-index: 90;
    }
}

@mixin leftL() {
    0% {
        left: 50%;
        opacity: 1;
        @include webkits(transform, translateX(-50%) scale(1));
        z-index: 90;
    }

    30% {
        left: 50%;
        opacity: 1;
        z-index: 0;
        @include webkits(transform, translateX(-110%) scale(0.94));
        z-index: 50;
    }

    100% {
        left: 50%;
        opacity: .4;
        z-index: 0;
        @include webkits(transform, translateX(-100%) scale(0.9));
    }
}

@mixin LeftR() {
    0% {
        left: 50%;
        opacity: .1;
        z-index: 0;
        @include webkits(transform, translateX(-100%) scale(0.9));
    }

    100% {
        left: 50%;
        opacity: .4;
        @include webkits(transform, translateX(0%) scale(0.9));
        z-index: 0;
    }
}

@mixin leftC() {
    0% {
        opacity: .4;
        @include webkits(transform, translateX(0%) scale(0.9));
        z-index: 0;
    }

    20% {
        opacity: 1;
        @include webkits(transform, translateX(10%) scale(0.94));
        z-index: 0;
    }

    100% {
        opacity: 1;
        @include webkits(transform, translateX(-50%));
        z-index: 90;
    }
}

@mixin arrow() {
    cursor: pointer;
    top: 50%;
    width: 5%;
    position: absolute;
    z-index: 201;
}

body {
    background: #151515;

    margin: 0;
}

.container_carru {
    background: #389efd;
    position: relative;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    #actions {
        #arrowrigth .arrowrigth {
            @include arrow();
            right: 10px;
            @include webkits(transform, rotate(268deg));
        }

        #arrowleft .arrowleft {
            @include arrow();
            left: 10px;
            @include webkits(transform, rotate(90deg));
        }
    }

    /*cierre actions*/


    #items {
        padding: 5%;
        cursor: move;
        z-index: 200;
        overflow: hidden;
        height: 750px;
        position: relative;

        @media only screen and (max-width: 2150px) {
            height: 630px;
        }

        @media only screen and (max-width: 2000px) {
            height: 570px;
        }

        @media only screen and (max-width: 1900px) {
            height: 540px;
        }

        @media only screen and (max-width: 1780px) {
            height: 500px;
        }

        @media only screen and (max-width: 1680px) {
            height: 470px;
        }

        @media only screen and (max-width: 1565px) {
            height: 420px;
        }

        @media only screen and (max-width: 1430px) {
            height: 390px;
        }

        @media only screen and (max-width: 1330px) {
            height: 360px;
        }

        @media only screen and (max-width: 1230px) {
            height: 330px;
        }

        @media only screen and (max-width: 970px) {
            height: 310px;
        }

        @media only screen and (max-width: 875px) {
            height: 270px;
        }

        @media only screen and (max-width: 785px) {
            height: 240px;
        }

        @media only screen and (max-width: 700px) {
            height: 235px;
        }

        @media only screen and (max-width: 640px) {
            height: 150px;
        }

        @media only screen and (max-width: 400px) {
            height: 125px;
        }

        #item {
            display: none;
            height: 80%;
            position: absolute;
        }

        .img_left {
            display: block !important;
            left: 50%;
            opacity: .4;
            z-index: 0;
            @include webkits(transform, translateX(-100%) scale(0.9));
        }

        .img_rigth {
            display: block !important;
            left: 50%;
            opacity: .4;
            @include webkits(transform, translateX(0%) scale(0.9));
            z-index: 0;
        }

        .img_center {
            display: block !important;
            left: 50%;
            @include webkits(transform, translateX(-50%) scale(1));
            z-index: 90;
        }

        .animaterigthR {
            @include webkits(animation-name, rigthR);
            @include webkits(animation-duration, 1s);
            @include webkits(animation-timing-function, ease);
        }

        @keyframes rigthR {
            @include rigthR();
        }

        @-webkit-keyframes rigthR {
            @include rigthR();
        }

        .animaterigthL {
            @include webkits(animation-name, rigthL);
            @include webkits(animation-duration, 1s);
            @include webkits(animation-timing-function, ease);
        }

        @keyframes rigthL {
            @include rigthL();
        }

        @-webkit-keyframes rigthL {
            @include rigthL();
        }

        .animaterigthC {
            @include webkits(animation-name, rigthC);
            @include webkits(animation-duration, 1s);
            @include webkits(animation-timing-function, ease);
        }

        @keyframes rigthC {
            @include rightC();
        }

        @-webkit-keyframes rigthC {
            @include rightC();
        }

        /*lado izquierdo*/
        .animateleftL {
            @include webkits(animation-name, leftL);
            @include webkits(animation-duration, 1s);
            @include webkits(animation-timing-function, ease);
        }

        @keyframes leftL {
            @include leftL();
        }

        @-webkit-keyframes leftL {
            @include leftL();
        }

        .animateleftR {
            @include webkits(animation-name, leftR);
            @include webkits(animation-duration, 1s);
            @include webkits(animation-timing-function, ease);
        }

        @keyframes leftR {
            @include LeftR();
        }

        @-webkit-keyframes leftR {
            @include LeftR();
        }

        .animateleftC {
            @include webkits(animation-name, leftC);
            @include webkits(animation-duration, 1s);
            @include webkits(animation-timing-function, ease);
        }

        @-webkit-keyframes leftC {
            @include leftC();
        }

        @keyframes leftC {
            @include leftC();
        }
    }

    /*cierre items*/
}

.redes {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: center;
    margin-top: 40px;
    padding: 0;
    flex-wrap: wrap;

    li {
        box-shadow: 0px 0px 5px 0px #f1e42cb2;
        background: #1b1b1b;
        width: 40px;
        height: 40px;
        position: relative;
        margin: 0 8px;
        border-radius: 50%;
        transition: all 600ms;
        -webkit-transition: all 600ms;

        &.titulo {
            width: 100%;
            text-align: center;
            height: auto;
            background: none;
            margin-bottom: 15px;
            border-radius: 0;
            color: white;
            box-shadow: none;
        }

        &:hover:not(.titulo) {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }

        img {
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            position: absolute;
            height: 20px;
            left: 50%;
        }
    }
}